@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
}

h1 {
  font-size: 2.25rem;
  text-align: center;
  font-weight: 600;
  max-width: 35rem;
  margin: 2rem auto;
}

header img {
  display: block;
  margin: 0 auto;
}

header {
  margin-bottom: 2.5rem;
}

article {
  display: flex;
  max-width: 36rem;
  margin: 3rem auto;
  gap: 3.5rem;
  align-items: center;
}

div {
  display: flex;
  flex-direction: column;
  max-width: 25rem;
  gap: 1rem;
}

article img {
  border-radius: 1rem;
}

h2 {
  font-size: 1.25rem;
  font-weight: 600;
}

time {
  font-size: 0.875rem;
  font-weight: 500;
  color: #6C727F;
}